/*======================Covid Tracker=======================*/
.Judul {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Global-Container {
  background-color: rgb(224, 224, 77);
}

.Indonesia-Container {
  background-color: rgb(238, 43, 43);
}

.Provinsi-Container {
  background-color: rgb(46, 231, 46);
}


