/*======================Covid Tracker=======================*/
.Judul {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Confirmed-All{ 
  justify-content: center;
  font-size: 25px  ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(235, 248, 47);
}

.Recovered-All {
  font-size: 25px  ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(238, 106, 30);
}

.Deaths-All {
  font-size: 25px ;
  width: 250px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 40px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(59, 236, 89);
}

.Container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
}



